@import "../../../scss/index.scss";

.card{
    margin: 100px;
    background-color: gray;
    text-align: center;
}

.mostviewed{
    margin: 100px;
    text-align: center;
}

.patrocinadores{

    margin:50px;
    background-color:gray;
    text-align: center;
}