@import "../../../scss/index.scss";

.most-viewed{


    position: relative; 
	right: -40px; 
	top: 200px; 
	z-index: 2000; 
	z-index: 2000; 
	z-index: 2000; 
	z-index: 2000; 
	z-index: 2000; 

	&card{
	 width: 300 


	}

	z-index: 2000; 


}