@import "../../../scss/index.scss";

.left-news{
    max-width: 760px;
    margin-left: 40px;
}

.card{
    margin: 100px;
    background-color: gray;
    text-align: center;
}

.mostviewed{
    margin: 100px;
    text-align: center;
}

.patrocinadores{

    margin:50px;
    background-color:gray;
    text-align: center;
}