@import "../../../scss/index.scss";


.home{

    &__news{
        //padding-right: 10px;
        //width:50%;

    }

    &__card{
        text-align: center;
        width: 100%;
    }

    &__mostviewed{

    }

    &__col-left{
        margin-left: 40px;
        //padding: 25px;
    }

    &__col-right{
        margin-left: 40px;
        margin-right: 0;
        //padding: 25px;
    }

}