@import "../../../scss/index.scss";

.update-form {
  text-align: left;

  .ant-form-item {
    &:nth-child(0),
    &:last-of-type {
      margin: 0;
    }
  }

  &__row {
    text-align: center;
    &-col-card {
      margin: 10px;

      &-image{
        text-align: center;
      }

      &-button{
        text-align: center;
      }

      &-list {
        text-align: left;
      }
    }
  }

  &__input {
    .ant-input-prefix {
      i {
        font-size: 0em + 22px / $defaultFontSize;
      }
    }

    input {
      font-size: 0em + 20px / $defaultFontSize;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  &__button {
    margin: 5px 0 10px 0;
    border-radius: 5px;
    background-color: $primary-color-dark;
    color: $font-light;
    border: hidden;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
  .table {
    width: 100%;
  }
}
