@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 100%;
  


  &__item{ 
  top: 0;
  bottom: 0;
  padding: 0;
  }

  /*button {
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &-list{
      padding-left: 10px;
      margin: 0;
      &-link{
        padding-right: 10px;
      display: inline;
      }
    }

  }

  &__right {
    position: absolute;
    right: 0;
  }*/
}
