$defaultFontSize: 16px;

//Colores principales
$primary-color: #0D3F87;
$primary-color-hover: #0C3166;
$primary-color-light: #748CAB;
$primary-color-dark: #0D1321;


//Color de fondo para el menú de navegación
$menu-color: #17223A;

//Color para las variantes de fuentes
$font-light:#525252 ;
$font-grey-light: #414141 ;
$font-grey:#525252 ;
$font-grey-dark:#313131;
$font-dark-light: #414141;
$font-dark:#313131 ;
$font-white: #f8f8ff ;

/*Color de marco para secciones/componentes
$border-light: ;
$border-grey-light: ;
$border-grey: ;
$border-grey-dark: ;
$border-dark-light: ;
$border-dark: ;

//Colores de fondo para secciones/componentes
$background-light: ;
$background-grey-light: ;
$background-grey: ;
$background-grey-dark: ;
$background-dark-light: ;
$background-dark: ;
$background-success: ;
$background-error: ;
$background-dark-web: ;
$background-dark-light-web: ;

//Color para alertas
$success: #4BB543 ;
$error: #ff3333;

Social Color */
$youtube: #d44332;
$instagram: #e95950;
$facebook: #3b5999;



