$defaultFontSize: 16px;

//Colores principales
$primary-color: #0D3F87;
$primary-color-hover: #0C3166;
$primary-color-light: ;
$primary-color-dark: ;

//Color de fondo para el menú de navegación
$menu-color: ;

//Color para las variantes de fuentes
$font-light: ;
$font-grey-light: ;
$font-grey: ;
$font-grey-dark: ;
$font-dark-light: ;
$font-dark: ;

//Color de marco para secciones/componentes
$border-light: ;
$border-grey-light: ;
$border-grey: ;
$border-grey-dark: ;
$border-dark-light: ;
$border-dark: ;

//Colores de fondo para secciones/componentes
$background-light: ;
$background-grey-light: ;
$background-grey: ;
$background-grey-dark: ;
$background-dark-light: ;
$background-dark: ;
$background-success: ;
$background-error: ;
$background-dark-web: ;
$background-dark-light-web: ;

//Color para alertas
$success: ;
$error: ;

// Social Color
$youtube: ;
$instagram: ;
$facebook: ;

